.details-outer-wrapper{
	display: flex;
}
.size-varient{
	padding: 14px 16px;
	border: solid 2px rgb(40, 116, 240);
	display: inline-block;
	cursor: pointer;
	margin-right: 10px;
	transition: all .3s ease-in-out;
}
.size-varient:hover{
	background-color: rgb(40, 116, 240);
	color: #fff;
}

.details-btn{
	padding: 15px 20px;
	width: 80%;
	margin: 20px;
	border: none;
	border-radius: 5px;
}

.btn-primary{
	/* background-color: rgb(40, 116, 240);
	border: none;
	border: solid 1px rgb(40, 116, 240);
	color: #fff;
	transition: all .3s ease-in-out;
	border-radius: 7px; */
}

.btn-primary:hover{
	border: solid 1px rgb(40, 116, 240);
	background-color: transparent;
	color: rgb(40, 116, 240);
	cursor: pointer;
}
.btn-secondary {
	background-color: #aaa;
	border: solid 1px transparent;
	color: #111;
	transition: all .3s ease-in-out;
}
.btn-secondary:hover{
	border: solid 1px rgb(40, 116, 240);
	background-color: transparent;
	color: #000;
	cursor: pointer;
}