.modal-wrapper {
	top: 80px;
	bottom: 43px;
	right: 178px;
	left: 200px;
	position: fixed;
	/* height: 100vh; */
	/* width: 100vw; */
	background: #ccc;
	z-index: 99;
}

.flex-end {
	justify-content: center;
	padding-right: 10px;
	cursor: pointer;
	color: #fff;
	font-weight: 500;
	font-size: 20px;
}

.inner-head {
	width: 100%;
	height: 30px;
	background-color: rgba(255, 63, 108, .8);
}

.card-wrapper {
	box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.05), -10px -10px 30px rgba(0, 0, 0, 0.05);
	/* border: solid 1px red; */
	margin-top: 30px;
	background-color: #fff;
}

.inner-product-image {
	width: 100%;
	/* height: 280px; */
}

.inner-card-info h3,
p {
	margin: 2px;

}

.inner-card-info h3,
.inner-card-info p {
	padding-left: 10px;
	text-transform: capitalize;
}