.modal-wrapper{
	top: 80px;
    bottom: 43px;
    right: 178px;
    left: 200px;
    position: fixed;
    /* height: 100vh; */
    /* width: 100vw; */
    background: #fefefe!important;
    z-index: 99;
}
.flex-end{
	justify-content: end!important;
	padding-right: 10px;
	cursor: pointer;
}
.inner-head{
	width: 100%;
	height: 30px;
	background-color: #ff3e6c!important;
}
.card-wrapper{
	box-shadow: 10px 10px 30px #ff3e6c;
	/* border: solid 1px red; */
	margin-top: 75px;
	background-color: #fff;
}
.inner-product-image {
		width: 233px;
		height: 280px;
	}
	.inner-card-info h3,
	p {
		margin: 2px;

	}
