.card {
	background-color: #FFF;
	width: 320px;
	/* border-radius: 12px; */
	/* border: solid 1px red; */
	margin: 30px;
	transition: all .3s ease-in-out;
}

.card:hover {
	box-shadow: 10px 10px 15px -7px rgba(0, 0, 0, 0.1), -10px -10px 15px -7px rgba(0, 0, 0, 0.1);
}

.product-image {
	width: 320px;
	height: 320px;
	/* margin-left: 30px; */
}

.card-info h3,
p {
	margin: 2px;
}

.card-info h3 {
	text-transform: uppercase;
	text-align: center;
	font-size: 22px;
}

.card-info h5 {
	text-align: center;
	font-size: 16px;
	color: #aaa;
	margin: 0;
}

.card-info .card-price {
	text-align: center;
	font-weight: normal;
}

.card-info {
	padding: 10px 5px;
}

.card:hover {
	/* background-color: rgba(26, 26, 26, 0.466); */
	/* box-shadow: 0 13px 10px -7px rgba(0, 0, 0, 0.1); */

}

/* .slider {
	width: 210px;
    height: 280px;
  }

  .slick-list, .slick-track {
	width: 100%;
	height: 100%;
  }

  .slide {
	width: 100%;
	height: 100%;
  }
  .slide:nth-child(1) {
	background: red;
  }
  .slide:nth-child(2) {
	background: yellow;
  }
  .slide:nth-child(3) {
	background: blue;
  } */
.wishlist-wrapper {
	display: flex;
	justify-content: center;
}

.wishlist {
	cursor: pointer;
	margin-top: 8px;
	width: 92%;
	padding: 8px;
	border: solid 1px #ff3e6c;
	/* border: solid 1px #2874F0; */
	color: #ff3e6c;
	background-color: #fff;
	transition: all .3s ease-in-out;
}

.wishlist:hover {
	background-color: #ff3e6c;
	color: #FFF;
}

.right-content {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.slider-new .product-image{
	margin: auto !important;
}

.card-title {
	text-transform: capitalize;
}