#navbar {
	/* background-color: red; */
}

.inner-content {
	padding: 0 22px 0 0;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 16px;
}

.padding-20 {
	padding: 20px 0;
}

.content-wrapper {
	padding: 15px 0;
}

.navigation {
	box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .2);
}

.p-r-10 {
	text-align: center;
	margin: 0;
	padding-right: 15px;
	cursor: pointer;
}

.p-r-10 p {
	margin: 2px;
}
.badge{
	font-size: 10px;
    border: none;
    outline: none;
    padding: 3px;
    background-color: pink;
    border-radius: 50%;
    transform: translate(20px,-15px);
    width: 8px;
}
input[type=search] {
	background-color: rgb(224, 224, 224);
	width: 80%;
	border: none;

}

.border {
	padding: 10px 20px;
	background-color: rgb(224, 224, 224);
	border-radius: 3px;
	width: 350px;
}

.padding {
	padding: 0 20px;
}

.font-color {
	color: gray;
	font-size: 22px;
	/* transform: translate(10px, 4px); */
}
.name{
	transform: translate(0px, -2px);
}
/****
New Navbar
*****/

* {
	box-sizing: border-box;
}

.inner-content-link {
	color: #111;
	text-decoration: none;
}

body {
	margin: 0px;
	font-family: 'segoe ui';
}

.nav {
	/* height: 50px; */
	width: 100%;
	background-color: #fff;
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.nav>.nav-header {
	display: inline;
}

.nav>.nav-header>.nav-title {
	display: inline-block;
	font-size: 22px;
	/* color: #fff; */
	padding: 10px 10px 10px 10px;
}

.nav>.nav-btn {
	display: none;
}

.nav>.nav-links {
	display: inline;
	float: right;
	font-size: 18px;
}

.nav>.nav-links>a {
	display: inline-block;
	padding: 13px 10px 13px 10px;
	text-decoration: none;
	/* color: #efefef; */
}

.nav>.nav-links>a:hover {
	/* background-color: rgba(0, 0, 0, 0.3); */
}

.nav>#nav-check {
	display: none;
}

.search-field {
	background: url(https://www.freeiconspng.com/thumbs/search-icon-png/search-icon-png-21.png) no-repeat scroll 7px 3px;
	padding-left: 30px;
	background-size: 20px;
	/* margin-top: 10px; */
	padding: 5px 50px;
}

@media (max-width:600px) {
	.nav>.nav-btn {
		display: inline-block;
		position: absolute;
		right: 0px;
		top: 0px;
	}

	.nav>.nav-btn>label {
		display: inline-block;
		width: 50px;
		height: 50px;
		padding: 13px;
		margin: 15px;
	}

	.nav>.nav-btn>label:hover,
	.nav #nav-check:checked~.nav-btn>label {
		background-color: rgba(0, 0, 0, 0.3);
	}

	.nav>.nav-btn>label>span {
		display: block;
		width: 25px;
		height: 10px;
		border-top: 2px solid #111;
	}

	.nav>.nav-links {
		position: absolute;
		display: block;
		width: 100%;
		background-color: #ccc;
		height: 0px;
		transition: all 0.3s ease-in;
		overflow-y: hidden;
		top: 70px;
		left: 0px;
		z-index: 9999;
	}

	.nav>.nav-links>a {
		display: block;
		width: 100%;
	}

	.nav>#nav-check:not(:checked)~.nav-links {
		height: 0px;
	}

	.nav>#nav-check:checked~.nav-links {
		height: calc(100vh - 50px);
		overflow-y: auto;
	}
}

@media (max-width:992px) {
	.nav-search {
		display: none;
	}
}

@media (max-width:768px) {
	.nav-search {
		display: none;
	}

	.inner-content {
		margin: 20px 0;
		font-weight: bold;
		text-align: center;
		padding: 10px;
		font-size: 18px;
	}

	.card-info h3,
	p {
		margin: 1px;
	}

	.inner-content-link {
		color: #111;
		text-decoration: none;
	}
	.nav-links .flexed{
		display: block;
	}
}

@media (max-width: 500px) {
	.user-profile {
		display: none;
	}

}