.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.outer-wrapper {
	display: flex;
	padding: 20px 0;
	/* width: 30%; */
	margin-top: 2%;
}

@media (max-width:992px) {
	.filter-left-content {
		display: none;
	}
}



@media (max-width:1366px) {
	.image-left {
		/* width: 100% !important; */
		justify-content: space-around !important;
	}

	.image-detailed {
		width: 335px !important;
	}
	.right-details-content {
		padding-left: 20px !important;
	}
}

@media (max-width:500px) {
	.container {
		padding-left: 5px !important;
		padding-right: 5px !important;
	}

	.card {
		margin: 10px !important;
	}

	.left-content-border {
		width: 100% !important;
	}

	.details-outer-wrapper {
		display: block !important;
	}

	.image-left {
		width: 100% !important;
		justify-content: space-around !important;
	}

	.image-detailed {
		width: 225px !important;
	}

	.right-details-content {
		width: 100% !important;
	}
}
